body, html {
    height: 100vh;
  }
  
  body {
    margin: 0;
    display: grid;
    grid-template-columns: 22% auto 22%;
    grid-auto-rows: 10% auto 28%;
    grid-template-areas:
      "header header header"
      "sect1 sect2 sect3"
      "footer footer footer"
  
  
  }
  .nestedgrid{
    display: grid;
    grid-template-columns: 22% auto auto 22%;
    grid-gap: 10px;
    grid-auto-rows: 110px;
    background-color: rgb(0, 0, 0);
    grid-template-areas:
      "foot1 foot2 foot3 foot4"
  }
  
  .footerGrid1{
    grid-column: 1 / 4;
    grid-row: 1;
    grid-area: foot1
  }
  .footerGrid2{
    grid-column: 2 / 4;
    grid-row: 1;
    grid-area: foot2
  }
  
  .footerGrid3{
    grid-column: 3 / 4;
    grid-row: 1;
    grid-area: foot3
  }
  
  .footerGrid4{
    grid-column: 4 / 4;
    grid-row: 1;
    grid-area: foot4
  }
  
  
  
  header {
    grid-area: header;
    background-color: rgb(0, 0, 0);
  
  }
  
  section:nth-of-type(1) {
    grid-area: sect1;
    background-color: rgb(0, 0, 0)
  }
  
  section:nth-of-type(2) {
    grid-area: sect2;
    background-color: rgb(0, 0, 0);
  }
  
  section:nth-of-type(3) {
    grid-area: sect3;
    background-color: rgb(0, 0, 0);
  }
  
  footer {
    grid-area: footer;
    background-color: rgb(0, 0, 0);
  }

  table.BuyTable {
    font-family: "Times New Roman", Times, serif;
    border: 1px solid #000000;
    background-color: #000000;
    width: 100%;
    text-align: left;
    border-collapse: collapse;
  }
  table.BuyTable td, table.BuyTable th {
    padding: 3px 7px;
  }
  table.BuyTable tbody td {
    font-size: 12px;
    color: #03FF13;
  }
  table.BuyTable thead {
      border-bottom: 2px solid #444444;
  }
  table.BuyTable thead th {
    font-size: 15px;
    font-weight: bold;
    color: #FFFFFF;
    text-align: center;
  }
  table.BuyTable tfoot td {
    font-size: 14px;
  }
  table.BuyTable tfoot .links {
    text-align: right;
  }
  table.BuyTable tfoot .links a{
    display: inline-block;
    background: #1C6EA4;
    color: #FFFFFF;
    padding: 2px 8px;
    border-radius: 5px;
  }

  table.SellTable {
    font-family: "Times New Roman", Times, serif;
    border: 1px solid #000000;
    background-color: #000000;
    width: 100%;
    text-align: left;
    border-collapse: collapse;
  }
  table.SellTable td, table.SellTable th {
    padding: 3px 7px;
  }
  table.SellTable tbody td {
    font-size: 12px;
    color: #FF3F17;
  }
  table.SellTable thead {
      border-bottom: 2px solid #444444;
  }
  table.SellTable thead th {
    font-size: 15px;
    font-weight: bold;
    color: #FFFFFF;
    text-align: center;
  }
  table.SellTable tfoot td {
    font-size: 14px;
  }
  table.SellTable tfoot .links {
    text-align: right;
  }
  table.SellTable tfoot .links a{
    display: inline-block;
    background: #1C6EA4;
    color: #FFFFFF;
    padding: 2px 8px;
    border-radius: 5px;
  }
  
  table.allMarkets {
    font-family: "Times New Roman", Times, serif;
    border: 2px solid #000000;
    background-color: #4A4A4A;
    width: 100%;
    height: 200px;
    text-align: left;
    border-collapse: collapse;
  }
  table.allMarkets td, table.allMarkets th {
    border: 1px solid #4A4A4A;
    padding: 6px 4px;
  }
  table.allMarkets tbody td {
    font-size: 13px;
    color: #E6E6E6;
  }
  table.allMarkets tr:nth-child(even) {
    background: #888888;
  }
  table.allMarkets thead {
    background: #000000;
    border-bottom: 0px solid #000000;
  }
  table.allMarkets thead th {
    font-size: 15px;
    font-weight: bold;
    color: #E6E6E6;
    text-align: center;
    border-left: 0px solid #4A4A4A;
  }
  table.allMarkets thead th:first-child {
    border-left: none;
  }
  
  table.allMarkets tfoot td {
    font-size: 12px;
  }

  input {

    width: 95%;
    padding: 5px 10px;
    margin: 5px 0;
    box-sizing: border-box;
  }

  .submit-buy  {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
  }

  .submit-sell  {
    background-color: red;
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
  }

  